#!/bin/bash

# Grafana Instance Configuration
API_URL="https://grafana.net"
API_TOKEN=""

# Grafana Cloud Configuration
CLOUD_API_URL="https://grafana.com/api/v1/tokens"
CLOUD_API_TOKEN=""
CLOUD_REGION=""
CLOUD_STACK_ID=""

# OTLP Configuration
OTLP_ENDPOINT="https://otlp-endpoint.grafana.net/otlp/v1/metrics"
OTLP_INSTANCE_ID=""
OTLP_TOKEN=""

# Cloud Policies
CLOUD_POLICIES_URL="https://grafana.com/api/v1/accesspolicies?region=${CLOUD_REGION}&realmType=stack&realmIdentifier=${CLOUD_STACK_ID}"
CLOUD_TOKENS_URL="${CLOUD_API_URL}?region=${CLOUD_REGION}&accessPolicyRealmType=stack&accessPolicyRealmIdentifier=${CLOUD_STACK_ID}"

# Slack Configuration
SLACK_TOKEN="" # bot token with chat:write scope
SLACK_CHANNEL_ID="" # channel ID
